html,
body {
  background: #fff;
}

canvas {
  background: #eee;
  display: block;
  margin: 0 auto;
  border: solid 6px #aaa;
  border-radius: 10px;
}

.copyright {
  font-size: 1rem;
  margin: 5rem;
  text-align: center;
  margin-block-end: 15px;
  color: #222222;
}

.container a {
  color: rgb(249 133 0);
  cursor: pointer;
}
